/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

/*Asterick wildcard selector to overide default style applied by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color:#3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color: lightcoral;
}

/*h1 font */
h1 {
    font-family: 'Oswald', sans-serif;
}

/*Main content*/
main {
    background-color:lightblue;
    
    /*Make main element take up any surplas space to push header to the top and footer to bottom of page*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color:orange;
}